<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Statistic of students</title>
    <style>
      table {
        width: 100%;
        margin: 10px 0;
      }

      .red {
        color: red;
      }
      
    </style>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
      <h1>Пошук</h1>
      <input placeholder="type name" v-model="searchName" />
      <table>
        <tr v-for="(stud, index) in filteredStudents" :key="index">
          <td :class="{ 'red': stud.highlighted }">{{ stud.name }}</td>
          <td>
            <input type="checkbox" v-model="stud.workDone" />
          </td>
          <td>{{ stud.group }}</td>
          <td><button @click="deleteStudent(stud.id)">Delete</button></td>
        </tr>
      </table>
    </div>

    <script>
      const { createApp, ref, computed } = Vue;

      const app = createApp({
        setup() {
          const students = ref([
            {
              id: 0,
              name: "Бовтута Максим",
              group: "RPZ 20-1",
              workDone: true,
            },
            {
              id: 1,
              name: "Ярослав Коломоєць",
              group: "RPZ 20-2",
              workDone: false,
            },
            {
              id: 2,
              name: "Кравчук Максим",
              group: "RPZ 20-1",
              workDone: false,
            },
            {
              id: 3,
              name: "Гліб Остапюк",
              group: "RPZ 20-2",
              workDone: true,
            },
            {
              id: 4,
              name: "Ася Горбачова",
              group: "RPZ 20-2",
              workDone: true,
            },
          ]);

          const searchName = ref("");

          const filteredStudents = computed(() => {
            const searchNameLower = searchName.value.toLowerCase();
            return students.value.map((stud) => ({
              ...stud,
              highlighted:
                stud.name.toLowerCase().includes(searchNameLower) &&
                searchNameLower.length > 0,
            }));
          });

          const deleteStudent = function (id) {
            const index = students.value.findIndex((stud) => stud.id === id);
            if (index !== -1) {
              students.value.splice(index, 1);
            }
          };

          return {
            searchName,
            filteredStudents,
            deleteStudent,
          };
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
